/* Button sign in */
.Topbar .ant-btn-primary:hover {
  background-color: #f60000 !important;
}

.Topbar .ant-btn-primary:active {
  background-color: #b91c1c !important;
}

.Topbar .ant-menu-item-selected {
  color: #ffffff !important;
}
